body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #032d70;
}
h1{
    color: #FFFFFF;
} 
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    font-size: calc(100% / 1); /* Reduces font size by a factor of 1.5 */
}
th, td {
    border: 1px solid #000000;
    padding: calc(5px / 2) calc(10px / 4); /* Reduces padding by a factor of 1.5 */
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th {
    background-color: #002d74; /* Updated background color */
    color: #ffffff; /* Updated text color */
}

/*Column Width Controls */
#bulkEditForm th:nth-child(1) { width: 40px; } /* Employee Number */
#bulkEditForm th:nth-child(2) { width: 200px; } /* Employee Name */
#bulkEditForm th:nth-child(3) { width: 60px; } /* Historical Date */
#bulkEditForm th:nth-child(4) { width: 70px; } /* Cost Center/IO */
#bulkEditForm th:nth-child(5) { width: 25px; } /* Pay Code */
#bulkEditForm th:nth-child(6) { width: 20px; } /* Amount */
#bulkEditForm th:nth-child(7) { width: 70px; } /* New Cost Center/IO */
#bulkEditForm th:nth-child(8) { width: 25px; } /* New Pay Code */
#bulkEditForm th:nth-child(9) { width: 20px; } /* New Amount */
#bulkEditForm th:nth-child(10) { width: 250px; } /* Reason */
#bulkEditForm th:nth-child(11) { width: 70px; } /* Manager's JHED ID */

/* Required field column headers */
.required-field {
  background-color: orange; /* Make required field headers orange */
  color: #000; /* Black text color for better contrast */
}
td {
    background-color: #cfcfcf;
}
th, td:first-child {
    font-size: 0.8em; /* Smaller font size for the row numbers and header */
}
input[type="text"] {
    width: 100%;
    padding: calc(5px / 1.5); /* Reduces input padding by a factor of 1.5 */
    margin: -calc(5px / 1.5) 0; /* Adjusts margin to new padding */
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
input[type="text"]:focus {
    outline: 2px solid #05da05;
}
.invalid {
    background-color: red; /* or border: 2px solid red; depending on your preference */
    color: white; /* Ensure text is readable against a red background */
}
.controls {
    text-align: center;
    margin-top: 10px;
}
#addRows, #addCustomRows {
    margin: 0 5px;
    padding: calc(5px / 1.5) calc(10px / 1.5); /* Reduces button padding by a factor of 1.5 */
}
#customRows {
    padding: calc(5px / 1.5);
    margin: 0 5px;
}


tfoot {
    font-size: calc(100% / 1.5); /* Ensure footer text matches the reduced font size */
}
tfoot td {
    text-align: center; /* Centers the content horizontally */
}
thead td {
    text-align: center;
}




.color-legend {
  margin-top: 10px;
  text-align: right; /* Aligns the legend text to the right */
  font-size: 0.9em;
  color: #FFFFFF; /* Assuming a dark background, so text is white for contrast */
  padding-right: 20px; /* Adds some padding on the right for spacing from the edge */
}

.legend-item {
  display: inline-block;
  margin-right: 20px; /* Adds spacing between multiple legend items if you add more */
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000; /* Optional: adds a border around the color sample */
  margin-right: 5px;
  vertical-align: middle;
}

.required-color {
  background-color: orange;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  margin-right: 20px; /* Adjust spacing between logo and title as needed */
}

.color-legend {
  text-align: left;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 20px; /* Example size */
  height: 20px; /* Example size */
  background-color: orange; /* Example color for required fields */
  margin-right: 10px; /* Spacing between color box and text */
}

.reasons-legend {
  list-style: none;
  padding: 0;
  margin-top: 10px; /* Adjust as needed */
}

.reasons-legend li {
  margin-bottom: 5px; /* Spacing between legend items */
}

/* General button styling */
button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s; /* Smooth color transition and slight grow effect on hover */
}

/* Specific button colors */
#downloadCsv {
    background-color: #4CAF50; /* Green */
}

.add-rows {
    background-color: #008CBA; /* Blue */
}

.add-custom {
    background-color: #008CBA; /* Blue, same as add rows for consistency */
}

/* Specific button colors */
#downloadCsv1 {
    background-color: #4CAF50; /* Green */
}

.add-rows1 {
    background-color: #008CBA; /* Blue */
}

.add-custom1 {
    background-color: #008CBA; /* Blue, same as add rows for consistency */
}
/* Hover effects */
#downloadCsv:hover {
    background-color: #45a049; /* Darker green */
    transform: scale(1.05); /* Slightly larger */
}

.add-rows:hover, .add-custom:hover {
    background-color: #007B9E; /* Darker blue */
    transform: scale(1.05); /* Slightly larger */
}


  
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');

.frame {
  position: fixed; /* Use fixed to keep it in view regardless of scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust to center the modal correctly */
  width: 400px;
  height: 250px; /* Adjusted for content */
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #3F3F3F;
  color: #415868;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Ensure no overflow from the modal */
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Start hidden */
}

.modal {
  width: 100%; /* Take up all of the .frame */
  height: 100%; /* Take up all of the .frame */
  position: relative; /* For positioning inner elements */
  background: #fff;
  border-radius: 3px;
  text-align: center;
}

.modal img {
  margin-top: 24px;
}

.modal .title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 14px 0 5px 0;
}

.modal p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 0;
  padding: 0 30px;
}

.modal .button {
  position: absolute;
  width: 100%; /* Ensure it stretches across */
  height: 40px;
  bottom: 0;
  background: #F65656;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.modal .button:hover {
  background: #e40e0e;
}

@keyframes show-modal {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hide-modal {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
